*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
/*====  VARIABLES ============================ */
html {
  --bg: #e9eff0;
  --textcolor: #cddad9;
  --link: #41c3d4;
  --div: rgba(0, 0, 0, 0.8);
  --input: #fff;
}
 
body{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg) ; 
  width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
}

h1{
  color: var( --textcolor);
  margin-bottom: 30px;
  text-align: center;
}


img {
width: 80vh;
}

.theme {
  margin-left: 90%;
  padding: 10px;
  width: 5%;
  top: 20px;
  background-color: var(--title-color);
}

.login {
  display:flex;
  flex-direction:column;
  margin-bottom: 5%;
  margin-right: 50vh ;
  max-height: 500px;
  max-width: 500px;
  margin-top: 20vh;
  height: 50%;
  padding: 50px;
  justify-content:center;
  align-items:center;
  border-radius: 8px;
  background-color: var(--div);
  z-index: 10;
  box-shadow: 5px 10px 20px #000;
  
}

input {
  background: var(--input);
  margin: 12px 0;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

button{
  margin-top: 16px;
  background-color: #1e90ff;
  border: none;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  transition: 0.2s;
}

button:hover{
  background-color:#00bfff;
  cursor: pointer;
}

a {
  display: flex;
  margin-top: 30px;
  text-decoration: none;
  color: var(--link);

}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  
}


.label-content {
  position: absolute;
  right: 16px;
}


label {

  cursor: pointer;
  text-indent: -9999px;
  margin-top: 20px;
  margin-right: 20px;
  width: 52px;
  height: 27px;
  background: #808080;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 90px;
  transition: 0.3s;

}

input:checked + label {
  background-color: #1e90ff;
}

input:checked + label::after {
  background-color: #fff;
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

/* Responsive */

@media (max-width: 960px) {
  body {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {

body {
 display: flex;
}

h1 {
  margin: 0;
}

input {
  top: 12%;
  margin-top: 6%;
}

.login {
    margin: 0;
    top: 46%;
    align-items: center;
    position: fixed;
    justify-content: center;
    text-align: center;
  
}

  img {
    margin-left: -80px;
    width: 80%;
  }
}
  
  

